!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title
      = current_page.data.title || 'DevOps Дефлопе'
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    = stylesheet_link_tag 'normalize', 'all', 'article', 'archive'
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = partial 'google_analytics'
    = partial 'facebook_pixel'
  %body{class: page_classes}
    = partial 'yandex_metrica'
    %header
      %div.img
        %a{href:'/'}
          = image_tag(image_path('/images/deflope.png'), alt: 'deflope')
      %div
        %h1 DevOps Дефлопе
        %h2 Русскоязычный подкаст о DevOps
    = partial 'nav'
    #main
      %aside
        = partial 'sidebar'

      .wrap
        = yield
