---
title: DevOps Дефлопе
pageable: true
per_page: 3
---

- content_for :page_links do
  - if paginate
    .pagination
      - if prev_page
        %span= link_to 'Назад', prev_page

      - (1..num_pages).to_a.each do |page_index|
        %span{class: page_index == page_number ? 'active' : ''}= link_to page_index, page_index == 1 ? '/' : ['/page/', page_index, '/'].join

      - if next_page
        %span= link_to 'Далее', next_page

- page_articles.each_with_index do |article, i|
  %article
    %h1
      = link_to article.title, article
      %time= Russian::strftime(article.date, '%B %e, %Y')
    = article.summary
    .links.clearfix
      = link_to 'Подробнее...', article, class: 'go-more'

= yield_content :page_links
